{
  "plugins": [
    [
      "module-resolver",
      {
        "cwd": "babelrc",
        "alias": {
          "~": "./app/src",
          "constants": "./app/src/constants",
          "components": "./app/src/components",
          "systems": "./app/src/systems"
        }
      }
    ],
    // optimization
    "closure-elimination",
    "@babel/plugin-transform-react-inline-elements",
    "@babel/plugin-transform-react-constant-elements",
    "styled-components",

    // Stage 2
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    "@babel/plugin-proposal-function-sent",
    "@babel/plugin-proposal-export-namespace-from",
    "@babel/plugin-proposal-numeric-separator",
    "@babel/plugin-proposal-throw-expressions",

    // Stage 3
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-syntax-import-meta",
    ["@babel/plugin-proposal-class-properties", { "loose": false }],
    "@babel/plugin-proposal-json-strings"
  ],
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "electron": "8"
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}
